<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
        <title>Index</title>
</head>

<body>
    <%- include('./partials/nav.ejs')%>
    
    <img class = "container mx-auto d-flex item-center " style="height: 90vh;" src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">

    <div>

        
    </div>

</body>
</html>